flask==2.3.3
flask-cors==4.0.0
pymongo==4.6.1
deepface==0.0.79
mtcnn==0.1.1
numpy==1.24.3
opencv-python-headless==4.9.0.80
scipy==1.10.1
python-dotenv==1.0.1
flask-bcrypt==1.0.1
gunicorn==21.2.0
tensorflow==2.10.0
